*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}

header{
    border-bottom: 1px solid  rgb(228, 231, 230);
    margin-bottom: 1rem;
    
}


#logo{
    font-size: 24px;
    font-weight: 700;
}

.container{
    width: 100%;
    max-width: 1320px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.headertop{
    background-color: rgb(213, 210, 210);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.headertop .container{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    font-size: 14px;
    
}
.headersecond{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.headersecondright{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.headersecond a{
    text-decoration: none;
    color: rgb(130, 127, 127);
}
#menu
{
    background-color: transparent;
    border: none;
    color: green;
    
}
#menu span{
    font-size: 32px;
}

.headersecond .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
.mainlogo img{
    width: 2rem;
   
}

.mainlogo{
    display : flex;
    flex-direction : row;
    align-items : center;
    font-size: 1.5rem;
}


.languageselect{
    display: none;
}
@media only screen and (min-width: 768px) {
    .headertop .container{
        justify-content: space-between;
    }
.languageselect{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}
.languageselect img{
    width: 1rem;
}
    
     }
@media only screen and (min-width: 992px) {

 #menu{
display: none;
 }
 
  }